{:paths ["src" "../../src"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.764", :scope "provided"}
        reagent/reagent {:mvn/version "1.0.0-alpha2"}
        github-nilern/fell {:git/url "https://github.com/nilern/fell"
                            :sha "46358432aad1f30ce7020cfebfd901f691ce1a54"}
        github-nilern/kissabussi {:git/url "https://github.com/nilern/kissabussi"
                                  :sha "5a3ceb55a03270ebb724abc241cd5158a64c717f"}

        thheller/shadow-cljs {:mvn/version "2.10.21"}}}