{:deps true
 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "."
                :modules {:main {:init-fn simpleexample.core/run}}}}
 :dev-http {8080 "resources/public"}}
