{:paths ["src" "example/simple/src"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.764", :scope "provided"}
        reagent {:mvn/version "1.0.0-alpha2"}
        github-nilern/fell {:git/url "https://github.com/nilern/fell"
                            :sha "7abfb1c398c4c4dd0082bcbbe4d62dffaa9171c7"}
        funcool/promesa {:mvn/version "5.1.0"}}}            ; TODO: Use a proper monad